<style>
h1 {text-align: center;}
.xyz{
    margin-top: 150px;
    font-size: 50px;
}
.abc{
    padding:50px;
    font-size: 25px;
    margin-left:370px;
}

</style>
<body   style="background: url(Employee-Management-Software.jpg); background-size:100%;">
 

 <h1 class="xyz">Welcome to Employee Management System</h1>

<div>
<h3 class="abc"> New User? <a href ={% url 'register'%}> Register Here</a> &nbsp;&nbsp; &nbsp;                       Existing User? <a href ={% url 'login'%}> Login Here</a></h3>
</div>
</body>